// ##################
// Mixins and Variable
// ##################

@black: rgb(0,0,0);
@b1: rgb(17,17,17);
@b2: rgb(34,34,34);
@b3: rgb(51,51,51);
@b4: rgb(102,102,102);
@b5: rgb(151,151,151);
@b6: rgb(177,177,177);
@b7: rgb(202,202,202);
@b8: rgb(219,219,219);
@b9: rgb(236,236,236);
@b10: rgb(247,247,247);
@b11: rgb(250,250,250);
@white: rgb(255,255,255);

@bg: rgb(237, 240, 242); 

// black/yellow theme
@yellow: rgb(245,230,8);
@lightblue: rgb(40,179,255);
@purple: rgb(174,149,255);
@bluegray: rgb(181,197,207);
@teal: rgb(189,231,255);

// blue/gray theme
@graybluedark: rgb(33,43,53);
@grayblue: rgb(48,62,77);
@graybluelight: rgb(102,152,200);
@graybluelight2: rgb(124,178,230);
@gray: rgb(172,177,183);
@red: rgb(240,0,0);
@green: rgb(25,143,25);
@blue: rgb(84,141,212);
@darkblue: rgb(74,131,252);
@graymist: rgb(235,235,235);

//Other Brand Colors
@twitter: rgb(44,170,225);
@facebook: rgb(53,101,162);
@tumblr: rgb(47,154,47);

// Light Theme
@light-white: rgba(255,255,255, 1);
@light-bg: rgba(241,244,250, 1);
@light-font: rgba(65, 66, 86, 1);
@light-secondary: rgba(155, 172, 200, 1);
@light-border: lighten(rgba(85, 86, 106, .8), 35%);
@light-accent: rgba(0, 198, 174, 1);
@light-accent-shadow: rgba(0, 198, 174, .35);
@light-disabled: rgba(150, 154, 160, 1);
@light-transparent: rgba(252, 252, 252, .85);
@light-transparent-more: rgba(252, 252, 252, .65);
@light-transparent-less: rgba(252, 252, 252, .95);

// Light Theme
@dark-white: rgba(255,255,255, 1);
@dark-bg: rgba(23, 25, 46, 1);
@dark-font: rgba(231, 232, 223, 1);
@dark-secondary: rgba(104, 105, 150, 1);
@dark-border: lighten(rgba(85, 86, 106, .8), 35%);
@dark-accent: rgba(255, 226, 88, 1);
@dark-accent-shadow: rgba(255, 226, 88, .35);
@dark-disabled: rgba(150, 154, 160, 1);
@dark-transparent: rgba(22, 22, 22, .75);
@dark-transparent-more: rgba(22, 22, 22, .65);
@dark-transparent-less: rgba(22, 22, 22, .95);

// ##################
// Mixins
// ##################
.transition{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.transition-short {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.transition-long {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

.blur-on {
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
}

.blur-off {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
}

.gradient-bg(@first-color, @second-color) {
	background: @first-color;
	background: -moz-linear-gradient(-45deg, @first-color 0%, @second-color 100%);
	background: -webkit-linear-gradient(-45deg, @first-color 0%, @second-color 100%);
	background: -o-linear-gradient(-45deg, @first-color 0%, @second-color 100%);
	background: linear-gradient(135deg, @first-color 0%, @second-color 100%);
}

.logo-gradient-bg-dark {
	background: rgb(1,1,1);
	background: -moz-linear-gradient(-45deg,  rgba(1,1,1,1) 0%, rgba(47,47,47,1) 90%);
	background: -webkit-linear-gradient(-45deg,  rgba(1,1,1,1) 0%,rgba(47,47,47,1) 90%);
	background: -o-linear-gradient(-45deg,  rgba(1,1,1,1) 0%,rgba(47,47,47,1) 90%);
	background: linear-gradient(135deg,  rgba(1,1,1,1) 0%,rgba(47,47,47,1) 90%);
}

.yellow-title  {
	color: @black;
	background-color: @yellow;
	font-family: 'open_sansextrabold', sans-serif;
	letter-spacing: -2px;
	font-size: 4rem;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;  
	border-radius: 2px;
	cursor: default;
	line-height: 100%;
	text-align: right;
	padding: 4%;
}

.flexbox(@justify-content, @align-items, @wrap, @direction) {
	display: flex;
	justify-content: @justify-content;
	align-items: @align-items;
	flex-wrap: @wrap;
	flex-direction: @direction;
}

.transition(@time) {
	-webkit-transition: all @time ease-in-out;
	-moz-transition: all @time ease-in-out;
	-o-transition: all @time ease-in-out;
	transition: all @time ease-in-out;
}


// ##################
// Globals
// ##################
html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

a,
*[onclick],
*[href] {
	cursor: pointer;
}

ul,
li {
	list-style: none;
}

// ##################
// MAIN
// ##################


html {
	width: 100%;
	height: 100%;
	font-size: 1vmin;
}

body {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	color: @light-font;
	// background-color: lighten(@light-bg, 1%);
}

.btn-download {
	background-color: @light-accent;
	color: @light-white;
	padding: 1rem;
	margin: 0 1.5rem;
	border-radius: 2px;
	text-decoration: none;
	box-shadow: 0 10px 10px @light-accent-shadow; 
	.transition(.2s);

	&:hover {
		background-color: darken(@light-accent, 5%);
		color: darken(@light-white, 5%);
	}

	&:active {
		box-shadow: 0 2px 6px @light-accent-shadow; 
	}
}

.header {
	height: 20vh;
	color: @light-font;
	background: @light-white;
	
	.gradient-bar {
		.gradient-bg(@light-accent, @dark-accent);
		// border-bottom-left-radius: 50% 30%;
		// border-bottom-right-radius: 50% 30%;
		width: 100%;
		height: 5px;
	}
	
	.logo {
		opacity: .1;
		margin: 1rem;
		img {
			width: 2.5rem;
			height: 2.5rem;
		}
	}

}


.main {
	min-height: 55vh;
	text-align: center;
	font-size: 46px;
	max-width: 700px;
	margin: 125px auto 50px;
	.flexbox(flex-start, center, nowrap, column);
	
	.title {
		margin-bottom: 5rem;
		h1 {
			display: inline-block;
			padding: .5rem;
			font-size: 6rem;
			font-family: 'Poiret One', sans-serif;
		}
		p {
			font-size: 1.5rem;
			text-align: center;
		}
	}

	.download {
		.flexbox(space-around, center, nowrap, row);

		.btn-download {
			width: 15rem;
			height: 3rem;
			.flexbox(flex-start, center, nowrap, row);
			
			img {
				width: 2rem;
				margin-right: 1rem;
			}
			h3 {
				display: inline-block;
				font-size: 2rem;
			}
		}
	}
}

.footer {
	background-color: lighten(@light-secondary, 28%);
	color: lighten(@light-font, 25%);
	padding: 2rem 1rem 1.5rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	.flexbox(space-around, center, nowrap, row);

	a {
		color: lighten(@light-font, 25%); 
		text-decoration: none;
		.transition(.2s);

		&:hover {
			color: @light-font;
			text-decoration: underline;
		}
	}
}

@media (max-width: 600px) {
	main {
		font-size: 3vw;
		margin-top: 50px;
	}
	.footer {
		font-size: 2rem;
	}
}
