.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.transition-short {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.transition-long {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.blur-on {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
}
.blur-off {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}
.logo-gradient-bg-dark {
  background: #010101;
  background: -moz-linear-gradient(-45deg, #010101 0%, #2f2f2f 90%);
  background: -webkit-linear-gradient(-45deg, #010101 0%, #2f2f2f 90%);
  background: -o-linear-gradient(-45deg, #010101 0%, #2f2f2f 90%);
  background: linear-gradient(135deg, #010101 0%, #2f2f2f 90%);
}
.yellow-title {
  color: #000000;
  background-color: #f5e608;
  font-family: 'open_sansextrabold', sans-serif;
  letter-spacing: -2px;
  font-size: 4rem;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
  cursor: default;
  line-height: 100%;
  text-align: right;
  padding: 4%;
}
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
a,
*[onclick],
*[href] {
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
html {
  width: 100%;
  height: 100%;
  font-size: 1vmin;
}
body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: #414256;
}
.btn-download {
  background-color: #00c6ae;
  color: #ffffff;
  padding: 1rem;
  margin: 0 1.5rem;
  border-radius: 2px;
  text-decoration: none;
  box-shadow: 0 10px 10px rgba(0, 198, 174, 0.35);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-download:hover {
  background-color: #00ad98;
  color: #f2f2f2;
}
.btn-download:active {
  box-shadow: 0 2px 6px rgba(0, 198, 174, 0.35);
}
.header {
  height: 20vh;
  color: #414256;
  background: #ffffff;
}
.header .gradient-bar {
  background: #00c6ae;
  background: -moz-linear-gradient(-45deg, #00c6ae 0%, #ffe258 100%);
  background: -webkit-linear-gradient(-45deg, #00c6ae 0%, #ffe258 100%);
  background: -o-linear-gradient(-45deg, #00c6ae 0%, #ffe258 100%);
  background: linear-gradient(135deg, #00c6ae 0%, #ffe258 100%);
  width: 100%;
  height: 5px;
}
.header .logo {
  opacity: .1;
  margin: 1rem;
}
.header .logo img {
  width: 2.5rem;
  height: 2.5rem;
}
.main {
  min-height: 55vh;
  text-align: center;
  font-size: 46px;
  max-width: 700px;
  margin: 125px auto 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.main .title {
  margin-bottom: 5rem;
}
.main .title h1 {
  display: inline-block;
  padding: .5rem;
  font-size: 6rem;
  font-family: 'Poiret One', sans-serif;
}
.main .title p {
  font-size: 1.5rem;
  text-align: center;
}
.main .download {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main .download .btn-download {
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main .download .btn-download img {
  width: 2rem;
  margin-right: 1rem;
}
.main .download .btn-download h3 {
  display: inline-block;
  font-size: 2rem;
}
.footer {
  background-color: #f7f8fb;
  color: #7b7d9b;
  padding: 2rem 1rem 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.footer a {
  color: #7b7d9b;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer a:hover {
  color: #414256;
  text-decoration: underline;
}
@media (max-width: 600px) {
  main {
    font-size: 3vw;
    margin-top: 50px;
  }
  .footer {
    font-size: 2rem;
  }
}
